# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.opensdf
*.sdf
*.pdb
*.exp
*.idb
*.ilk
*.suo

# ps1e4all
ps1e4all/tmp/
ps1e4all/lib/
ps1e4all/ipch/
ps1e4all/bin/

# pspe4all
pspe4all/tmp/
pspe4all/lib/
pspe4all/ipch/
pspe4all/bin/

# ps2e4all
ps1e4all/tmp/
ps1e4all/lib/
ps1e4all/ipch/
ps1e4all/bin/

# Miscelaneous
Debug/
Release/
x64/Debug/
x64/Release/
GeneratedFiles/
*.aps
pspe4all-dbg.qt5/ipch/*
